@model IEnumerable<HotelApp.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form id="formPesquisa" asp-controller="Clientes" asp-action="Index" method="GET">
    <p>
        Nome: <input id="ss" type="text" name="SearchString" oninput="submitForm();" />
        <input type="submit" value="Filtrar" />
    </p>
</form>

<script type="text/javascript">
    function submitForm() {
        //var ss = document.getElementById("ss");
        //string search = ss.value;
        document.forms["formPesquisa"].submit();
        //ss.value = search;
        //alert(search);
        

        
    }
</script>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
